<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body style="text-align: center">
    <h1 color: blue> WELCOME TO NAGARRO'S BOOTCAMP 2019!</h1>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, velit. Incidunt, nisi sit consequuntur perspiciatis illo error repellendus fuga, debitis recusandae, autem reprehenderit nostrum at impedit libero ut odit amet?</h3>
    <p></p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis consequuntur officiis nisi amet sed soluta, necessitatibus, id deleniti architecto voluptas et qui cumque corrupti illum, odio non beatae similique. Eum.</p>

    <a href="/login"><input type="button" value="CLICK HERE TO LOGIN"></a>
    <!-- <form action="login.html">
        <button type="submit" style="color: green"> CLICK HERE TO LOGIN</button>
    </form> -->
</body>
</html>